<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Spring Security Example</title>
        <link rel="stylesheet" href="/style.css">
        <script src="https://kit.fontawesome.com/4cc4b6e1b5.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="center m_container">
            <i class="fa-brands fa-searchengin micon"></i>
            <div class="m_title">CMO API</div>
            <div class="restrict_access">Restrição de acesso</div>
            <div class="m_copyrigth in_column">
                <i class="fa-regular fa-copyright"></i>
                <div>2022, cmo.foundation, Inc.</div>
            </div>
        </div>
    </body>
</html>